---
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/style.css";

//https://uzaqfwgbruvllvdlpabq.supabase.co/rest/v1/Smykker
export async function getStaticPaths() {
  const url = "https://uzaqfwgbruvllvdlpabq.supabase.co/rest/v1/Smykker";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6YXFmd2dicnV2bGx2ZGxwYWJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMzOTMyNjgsImV4cCI6MjA0ODk2OTI2OH0.RBngwuyg62kGxohOAq847cclytJ9kdChHAHwghgCW0g",
    },
  };

  const data = await fetch(url, options).then((res) => res.json());

  return data.map((produkt) => ({
    params: { id: produkt.id },
    props: { produkt }, // send al data med som props
  }));
}
const { produkt } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <main>
      <section class="content">
        <div>
    <img src={produkt.billede} alt="billede" height="460" width="430" />
  </div>
  <div>
    <h1>{produkt.navn}</h1>
    <h2>{produkt.brand}</h2>
    <h3 class="pris">{produkt.pris}</h3>
    <div>
    <img src="../img/gold_silver.svg" alt="hero" class="farver"/> 
  </div>
  <div>
    <section class="purchaseBox">
      <div>
        <label>Vælg en størrelse:</label>
      </div>
      <div>
          <form>
              <select name="size">
                  <option>US 4 / EU 47 (XXS)</option>
                  <option>US 5 / EU 49 (XS)</option>
                  <option>US 6 / EU 51 (S)</option>
                  <option>US 7 / EU 44 (M)</option>
                  <option>US 8 / EU 56 (L)</option>
                  <option>US 9 / EU 59 (XL)</option>
              </select>
            </form>
            </div>
  </section>
  </div>
  <div>
    <img src="../img/betalingsmetoder.svg" alt="hero" class="betalingsmetoder"/> 
  </div>
    <a class="se-mere">Læg i kurv</a>
  </div>
  
</section>

<section class="content">
  <div>
    <h4>Beskrivelse</h4>
    <p>{produkt.beskrivelse}</p>
  </div>
    <div>
      <img src="../img/koral2.webp" alt="hero" /> 
    </div>
  </section>
      
  </main>
      <Footer />
    
  </body>
</html>

<style>

main{
  background-color: #F9F2F2;
}

.content{
  margin: 1rem;
}

.purchaseBox {
  color: #3c3636;
  font-family: poppins;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


h1 {
  font-family: Orbitron, sans-serif;
  color: #1b72d0;
  font-size: 50px;
  line-height: 1.5;
}

h2{
  font-family: poppins;
  color: #3c3636;
  line-height: 1.5;
}

h4{
  font-family: poppins;
  color: #3c3636;
  margin-top: 1rem;
  
}

.pris{
  color: #1b72d0;
  font-family: Orbitron, sans-serif;
  line-height: 1.5;
}

.option{
  font-family: poppins;
}



img{
  width: 100%;
}

.betalingsmetoder{
width: 60%;

}

.farver{
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

p{
  font-family: poppins;
  color: #3c3636;
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 1rem;
  max-width: 520px;
}

.se-mere {
   display: block;
   justify-items: center;
    padding: 20px; /* Indre afstand */
    background-color: #007bff; /* Hvid baggrund */
    font-family: orbitron;
    color: #F9F2F2; /* Sort tekstfarve */
    font-size: 13px;
    text-decoration: none; /* Fjerner understregning */
    font-weight: bold; /* Fremhævet tekst */
    text-align: center; /* Centrerer teksten */
    transition: background-color 0.3s, color 0.3s; /* Animation ved hover */
  }

  .se-mere:hover {
    background-color: #1457A0; /* Blå baggrund ved hover */
    color: #F9F2F2; /* Hvid tekst ved hover */
  }

  @media (min-width: 700px) {

    .content{
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.farver{
  width: 20%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.betalingsmetoder{
  width: 50%;
}

  }

</style>