---
const {product } = Astro.props;
import Button from "../components/Button.astro";
// console.log(data);
---

<article>
  <div>
    <img src={product.billede} alt="billede" height="460" width="430" />
    <h3>
      {product.navn}
    </h3>
    <p>{product.brand}</p>
    <p>{product.pris}</p>
    <br />
  </div>
  <a href=`single/${product.id}` class="se-mere">Se mere</a>
</article>

<style>
  article {
    /* width: 300px;  */
    margin: 2rem;
    border: 1px solid #3c3636; /* Tynder grænse */
    overflow: hidden; /* Skjuler overløb */
    background-color: #f9f9f9; /* Baggrundsfarve */
  }

  article img {
    width: 100%; /* Billede fylder hele bredden */
    height: auto; /* Bevarer billedets proportioner */
  }

  article div {
    padding: 16px; /* Indrykning indenfor boksen */
  }

  article h3 {
    font-size: 1.2rem;
    text-align: start;
    font-weight: bold; /* Fremhæver navnet */
    font-family: orbitron;
    color: #3c3636;
  }

  article p {
    text-align: start;
    color: #3c3636;
    font-family: poppins;
  }

  article p:last-of-type {
    color: #007bff; /* Blå tekstfarve til pris */
    font-weight: bold; /* Fremhævet pris */
    font-family: orbitron;
  }

  .se-mere {
    display: block; /* Gør knappen til en blok */
    width: 100%; /* Fylder hele bredden */
    padding: 12px 0; /* Indre afstand */
    background-color: #F9F2F2; /* Hvid baggrund */
    font-family: orbitron;
    color: #3C3636; /* Sort tekstfarve */
    font-size: 13px;
    text-decoration: none; /* Fjerner understregning */
    border-top: 1px solid #3C3636; /* Skillelinje over knappen */
    font-weight: bold; /* Fremhævet tekst */
    text-align: center; /* Centrerer teksten */
    transition: background-color 0.3s, color 0.3s; /* Animation ved hover */
  }

  .se-mere:hover {
    background-color: #007bff; /* Blå baggrund ved hover */
    color: #F9F2F2; /* Hvid tekst ved hover */
  }

  @media screen and (max-width: 768px) {
    li {
      max-width: 200px;
    }
  }
</style>

